!!!

html
	head
		block styles
			link(rel="stylesheet", href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css", media="screen")
			link(rel="stylesheet", href="/assets/styles/manifest.css")

		block scripts
			script(type="text/javascript", src="/assets/bower_components/jquery/jquery.min.js")
			script(type="text/javascript", src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js")
			script(type="text/javascript", src="/assets/scripts/main.js")
	body
		block body
			#root
				block navbar
					.fixed-container(style="height: 55px;")
						.fixed
							.container
								nav#navbar
									ul.right
										//- li
										//- 	span email:
										li.dither-light
											a(href="mailto:maackle.d@gmail.com") maackle.d@gmail.com
									ul.left
										li.dither-black: a(href="/", style="color: white;") Michael Dougherty
										li.dither-light: a(href="/web.html") websites
										li.dither-light: a(href="/resume.html") resume
										//- li.dither-light
										//- 	a(href="/resume.html") résumé
								#post-header

				.container
					block content
				#root_footer
			#footer_container
				block footer
					#pre-footer
					footer#footer
