!!!

html
	head
		link(rel="stylesheet", href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/assets/stylesheets/manifest.css")

		script(type="text/javascript", src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js")
	body
		#root
			block navbar
				.container
					nav#navbar
						ul.right
							li.web
								a(href="http://github.com/maackle", target="_blank") github
							li.music
								a(href="http://twitter.com/maackle", target="_blank") @maackle
							li
								span
									img(src="/assets/img/nav-email.png")
						ul
							li.michael
								a(href="/") Michael Dougherty
					#post-header

			.container
				block content
			#root_footer
		#footer_container
			block footer
				#pre-footer
				footer#footer
