!!!

html
	head
		link(rel="stylesheet", href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/assets/stylesheets/manifest.css")

		script(type="text/javascript", src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js")
	body

		block navbar
			.container
				nav#navbar
					ul.right
						li
							span
								img(src="/assets/img/nav-email.png")
					ul
						li.michael
							a(href="/") Michael Dougherty
						li.web
							a(href="/web") websites
						li.music
							a music
						li.code
							a code
				#post-header

		.container
			block content
		block footer
			#pre-footer
			footer#footer
