extends layout/base

block content
	.page-index

		h1 hi!
		.block I'm a freelance web developer living in Portland, OR.  <a href="/web.html">See my work.</a>
		br
		.block I make <a href="/games/starfruit-ascension">games</a>.
		.block I play bass in <a href="http://maxribnerband.com">a band</a>.
		br
		.block 
			| I will eventually have a blog.
			br
			p(style="font-size: 0.8em; text-align: center;") (And a more complete website)