extends layout/base

block content
	.page-index

		h1
			.diag-bg Hi!
		.block I'm a freelance web developer living in Portland, OR.  <a href="/web.html">Check out my work</a>.
		br
		.block I make <a href="/games/starfruit-ascension">games</a>,
		.block I play bass in <a href="http://maxribnerband.com">a band</a>,
		.block and I recently started a <a href="/blog">blog</a>.
		br
		
		
		.block
			h4.diag-bg(style="font-weight: normal;") Connect with me on the internet
			//- .row
			//- 	.col-md-3.mw-200
			//- 		h4.diag-line.inline github
			//- 		br
			//- 		a(href="http://github.com/maackle", target="_blank") maackle
			//- 	.col-md-3.mw-200
			//- 		h4.diag-line.inline email 
			//- 		br
			//- 		a(href="mailto:michael@lv11.co", target="_blank") michael@lv11.co
			//- 	.col-md-3.mw-200
			//- 		h4.diag-line.inline linkedin 
			//- 		br
			//- 		a(href="http://linkedin.com/in/michael1111", target="_blank") michael1111
			//- 	.col-md-3.mw-200
			//- 		h4.diag-line.inline twitter
			//- 		br
			//- 		a(href="http://twitter.com/maackle", target="_blank") @maackle
			table.center(style="margin: auto;")
				mixin contact-line(text, link, name)
					tr
						td.right
							h4.inline
								span.dither-light #{text}
						td
							a(href=link, target="_blank").dither #{name}

				+contact-line('email', "mailto:michael@lv11.co", 'michael@lv11.co')
				+contact-line('github', "http://github.com/maackle", 'maackle')
				+contact-line('linkedin', "http://linkedin.com/in/michael1111", 'michael1111')
				+contact-line('twitter', "http://twitter.com/maackle", '@maackle')
			
				