extends layout/base

include mixins

block content
	.page-index

		h1
			.diag-bg Hello
		.block
			p.center I'm a software engineer living in Portland, OR and currently working at <a href="//buildingenergy.com">Building Energy</a>.
			p.center I used to be a freelance developer, you can <a href="/web.html">check out my work</a>.
		br
		.block
			p.center
				| I play music.
				br
				a(href="https://www.youtube.com/watch?v=TEQFYdaWn00", target="_blank") Here's a video of me playing bass.
			// <iframe width="420" height="315" src="https://www.youtube.com/embed/TEQFYdaWn00" frameborder="0" allowfullscreen></iframe>
		br
		.block
			| I also play bass in <a href="http://maxribnerband.com">a band</a>,
		.block
			| and <a target="games" href="/games/starfruit-ascension">sometimes</a> I make <a target="games" href="http://fangshuogame.com">games</a>,
		br
		h1
			.diag-bg Nice to meet you

		+contact-info-block("Connect with me on the internet")
		br
		br
		br

