extends layout/base

include mixins

block content
	.page-index

		h1
			.diag-bg Hi!
		.block I'm a freelance web developer living in Portland, OR.  <a href="/web.html">Check out my work</a>.
		br
		.block I make <a href="/games/starfruit-ascension">games</a>,
		.block I play bass in <a href="http://maxribnerband.com">a band</a>,
		.block and I recently started a <a href="/blog">blog</a>.
		br
		
		+contact-info-block("Connect with me on the internet")
		br
		br
		br
			
				