mixin contact-info-block(title)
	.block.contact-info-block
		h4.diag-bg(style="font-weight: normal;")= title
		table.center(style="margin: auto;")
			mixin contact-line(text, link, name)
				tr
					td.right
						h4.inline
							span.dither-light #{text}
					td
						a(href=link, target="_blank").dither #{name}

			+contact-line('email', "mailto:michael@lv11.co", 'michael@lv11.co')
			+contact-line('github', "http://github.com/maackle", 'maackle')
			+contact-line('linkedin', "http://linkedin.com/in/michael1111", 'michael1111')
			+contact-line('twitter', "http://twitter.com/maackle", '@maackle')
		
