extends layout/base

block append scripts
	link(rel="stylesheet", href="/assets/styles/resume.css")
block body
	.container
		.block
			h1 michael dougherty

			h2 Clients
			div.
				SalterMitchell

				University of North Carolina

				This Is Pop / NBC Universal

				Grove

				TDE Editor - Sass In Depth by Manning Publications

			h2 Education
