extends layout/base

block content
	.page-web

		h1.center(style="margin-top: 80px;") Michael builds websites!

		.summary
			p.block.no-bg.bigger
				| Hi, I'm a <span title="One with expertise at every layer of web development, from front-end to back-end and everything inbetween.">full-stack</span> web development consultant and mentor living in Portland, OR.
				br
				| I specialize in Django and React, I but work in many languages.

		.links.block-small
			a(href="#portfolio", class="smooth-anchor") portfolio
			a(href="#experience", class="smooth-anchor") experience
			a(href="#contact", class="smooth-anchor") contact

		section.portfolio
			a(name="portfolio")

			h2.center
				.diag-bg Recent Work

			.row

				.item.col-sm-6
					a(href="http://www.bavsound.com/", target="_blank").preview
						img(src="assets/img/portfolio/bavsound-phi.png")
						h2.name BAVSOUND<br/>BMW Audio Upgrades
					.info
						p Part of a complete rebranding for a company providing custom BMW sound system upgrades.
							| This is a large, complicated site which I did not design but helped implement with <a href="http://yujitomita.com/">Yuji Tomita</a>.

				.item.col-sm-6
					a(href="http://makingroomformanufacturing.org", target="_blank").preview
						img(src="assets/img/portfolio/ilc-phi.png")
						h2.name Making Room for Manufacturing
					.info
						p This site is the public-facing facet of an ongoing research project at University of North Carolina which seeks to explore the rapid deindustrialization of cities.  It features a custom-built layered map application which visualizes the data being researched alongside other related data.

			.row
				.item.col-sm-6
					a(href="http://monarctree.com", target="_blank").preview
						img(src="assets/img/portfolio/monarc-phi.jpg")
						h2.name Monarc Tree Home Automation
					.info
						p A complicated site with many seamless transitions, designed by <a href="http://sterlinglentz.com" target="_blank">Sterling Lentz</a> and built by me. This is really two sites in one.

				.item.col-sm-6
					a(href="http://www.characterarcade.com/puzzle/find_the_famous_pineapple/1be72c68-7488-11e2-a3c5-1cc1dee6474c/", target="_blank").preview
						img(src="assets/img/portfolio/pineapple-phi.png")
						h2.name Find the Famous Pineapple<br/>// USA Network
					.info
						p
							| A game developed in conjunction with <a href="http://thisispop.com" target="_blank">This Is Pop</a> and
							<a href="http://partlyhuman.com">partlyhuman, inc.</a> for USA Network's TV show <a href="http://www.usanetwork.com/psych">Psych</a>.
						p
							| I designed and wrote the backend code, which has since been used by NBC Universal to recreate the game with different branding.

			.row
				.item.col-sm-6
					a(href="http://leaderbagco.com", target="_blank").preview
						img(src="assets/img/portfolio/leader-phi.jpg")
						h2.name Leader Bag Co.
					.info
						p A slick long-page scrolling site selling high-end bags. Built with <a href="http://yujitomita.com">Yuji Tomita</a>.

				.item.col-sm-6
					a(href="http://sia.planning.unc.edu/", target="_blank").preview
						img(src="assets/img/portfolio/nkaza-phi.png")
						h2.name Nikhil Kaza
					.info
						p Extremely customized personal website of UNC professor Nikhil Kaza.  It features an extensive CMS, a project wiki, tumblr integration, and automated bibliography generation.

			.row
				.item.col-sm-6
					a(href="http://themeganbranch.com", target="_blank").preview
						img(src="assets/img/portfolio/meganbranch-phi.jpg")
						h2.name Megan Branch
					.info
						p Designed by <a href="//sterlinglentz.com" target="_blank">Sterling Lentz</a>, I built the site and created the scattered image gallery effect, which has turned into an open-source project and can be found on <a href="//github.com/maackle/chirashi">my github page.</a>

				.item.col-sm-6
					a(href="http://kilikinas.com", target="_blank").preview
						img(src="assets/img/portfolio/kilikinas-phi.jpg")
						h2.name Kilikina's Chocolat
					.info
						p I designed and developed this site to help my friends at Kilikina's, an up-and-coming local chocolatier. My compensation was entirely in chocolate!

				//- .item.your-site.col-sm-6
				//- 	a(href="#contact", target="_blank").preview
				//- 		img.dummy-img(src="assets/img/portfolio/blank-phi.png")
				//- 		h2.dark(style="position: absolute; bottom: 10px; right: 10px; font-size: 52px; font-weight: bold; margin: 0; text-shadow: 1px 1px black")
				//- 			| YOUR
				//- 			br
				//- 			| SITE?
				//- 	.info
				//- 		p
				//- 			em
				//- 				| This could be you!
				//- 		p
				//- 			em
				//- 				a(href="#contact") Contact me to discuss your website.



		section.skills
			a(name="experience")

			h2.center
				.diag-bg EXPERIENCE

			.summary
				.block
					p I made my first webpage in 8th grade, which featured a looping background MIDI and a scrolling <code>&lt;marquee&gt;</code>. I've been programming ever since.

					p I went pro in 2009 as a freelancer, and worked on many projects until I joined my first company, <a href="http://buildingenergy.com/">Building Energy</a>, in 2015. (Most of what you see in my portfolio was made before 2015.) A year later, I joined <a href="http://crowdstreet.com">CrowdStreet</a> as a Senior Engineer.

					p In early 2017 I decided to leave the employee life and resume my work as a consultant. Additionally, I decided to make teaching and mentoring a bigger part of my life, and since then I've created a 6-hour Python video training course through <a href="http://globalknowledge.com">Global Knowledge</a> and have joined <a href="http://thinkful.com">Thinkful</a> as a web development mentor, which I'm currently busy with along with my consulting work.

					p Aside from my professional work, I've enjoyed making lots of <a href="https://github.com/maackle/space-tetherball">unfinished</a> video <a href="https://github.com/maackle/starfruit-ascension">games</a>, including <a href="https://github.com/maackle/skitch">my own Scala game engine</a>; learning new languages (especially pure functional ones); and working on far-fetched app ideas that I hope one day will be complete.

			h2.center
				.diag-bg Tools

			p.center I've built something significant in the following languages and frameworks over the years.
			.row
				.col-sm-6.item
					h3.diag-line Languages
					.info
						.block-tiny HTML5
						.block-tiny CSS3
						.block-tiny JavaScript
						.block-tiny PureScript
						.block-tiny ClojureScript
						.block-tiny SQL
						.block-tiny PHP
						.block-tiny Scala
						.block-tiny Lua
				.col-sm-6.item
					h3.diag-line Frameworks
					.info
						//- p.center The right tool for the job.
						.block-tiny Django
						.block-tiny Flask
						.block-tiny Angular.js
						.block-tiny React.js
						.block-tiny D3.js
						.block-tiny jQuery
						.block-tiny Redux
						.block-tiny LWJGL
						.block-tiny OpenGL
						.block-tiny Laravel
						.block-tiny om/next
						.block-tiny pux
				//- .col-md-4.item
				//- 	h3.diag-line Tools
				//- 	.info
				//- 		p I've built a lot of sites with specific needs and have used some amazing tools along the way.  I've worked on something professionally at some point with all of these.
				//- 		.block-tiny git
				//- 		.block-tiny webpack
				//- 		.block-tiny gulp
				//- 		.block-tiny grunt
				//- 		.block-tiny bower


		section.contact
			a(name="contact")

			h2.center
				.diag-bg Contact Info

			.summary
				.block.center
					p Rather than fill out some stodgy contact form, why not just email me at:
					h3
						a(href="mailto:maackle.d@gmail.com").bg-yellow maackle.d@gmail.com
					p Hope to hear from you!

		section
			p.center P.S. &mdash; You can find more ways to connect with me on the <a href="/">main page &larr; </a>



