extends layout/base

block content
	.page-web

		h1.center(style="margin-top: 80px;") Michael builds websites!

		.summary
			p.block.no-bg.bigger
				| Hi, I'm a freelance <span title="One with expertise at every layer of web development, from front-end to back-end and everything inbetween.">full-stack</span> web developer living in Portland, OR.  
				br
				| I specialize in Django but work in many languages. 
				| (My favorite?  <em>Scala!</em>)

		.links.block-small
			a(href="#portfolio", class="smooth-anchor") portfolio
			a(href="#skills", class="smooth-anchor") skills
			a(href="#contact", class="smooth-anchor") contact

		section.portfolio
			a(name="portfolio")

			h2.center
				.diag-bg Recent Work

			.row

				.item.col-md-4
					a(href="http://kilikinas.com", target="_blank").preview
						img(src="assets/img/portfolio/kilikinas-phi.jpg")
						h2.name Kilikina's Chocolat
					.info
						p I designed and developed this site to help my friends at Kilikina's, an up-and-coming local chocolatier. My compensation was entirely in chocolate!

				.item.col-md-4
					a(href="http://www.grovemade.com/product/wood-print-case-for-iphone/customize/", target="_blank").preview
						img(src="assets/img/portfolio/grove-preview.png")
						h2.name Grove Wood Print Case Customizer
					.info
						p A collaboration with local badass <a href="http://yujitomita.com/">Yuji Tomita</a>, built for local iPhone case artisans <a href="http://grovemade.com">Grove</a>.  Users can import their instagram photos or upload images directly to be printed on a blank wooden iPhone case, adjusting the position and size with an easy drag-and-drop interface.  The app sends the final result directly to Grove for printing.  
						p Try it out! (We're pretty proud of this one.)

				.item.col-md-4
					a(href="http://www.bavsound.com/", target="_blank").preview
						img(src="assets/img/portfolio/bavsound-phi.png")
						h2.name BAVSOUND<br/>BMW Audio Upgrades
					.info
						p Part of a complete rebranding for a company providing custom BMW sound system upgrades. 
							| This is a large, complicated site which I did not design but helped implement with <a href="http://yujitomita.com/">Yuji Tomita</a>.

			.row
				.item.col-md-4
					a(href="http://makingroomformanufacturing.org", target="_blank").preview
						img(src="assets/img/portfolio/ilc-phi.png")
						h2.name Making Room for Manufacturing
					.info
						p This site is the public-facing facet of an ongoing research project at University of North Carolina which seeks to explore the rapid deindustrialization of cities.  It features a custom-built layered map application which visualizes the data being researched alongside other related data.
						p
							i.bg-yellow currently in development


				.item.col-md-4
					a(href="http://sia.planning.unc.edu/", target="_blank").preview
						img(src="assets/img/portfolio/nkaza-phi.png")
						h2.name Nikhil Kaza
					.info
						p Extremely customized personal website of UNC professor Nikhil Kaza.  It features an extensive CMS, a project wiki, tumblr integration, and automated bibliography generation.

				.item.col-md-4
					a(href="http://www.characterarcade.com/puzzle/find_the_famous_pineapple/1be72c68-7488-11e2-a3c5-1cc1dee6474c/", target="_blank").preview
						img(src="assets/img/portfolio/pineapple-phi.png")
						h2.name Find the Famous Pineapple
					.info
						p 
							| A game developed in conjunction with 
							a(href="http://thisispop.com", target="_blank") This Is Pop 
							| and 
							a(href="http://partlyhuman.com") partlyhuman, inc. 
							| for USA Network's TV show 
							a(href="http://www.usanetwork.com/psych") Psych.
						p 
							| I designed and wrote the backend code.

				//- .item.col-md-4
				//- 	a(href="http://ezzarose.com", target="_blank").preview
				//- 		img(src="assets/img/portfolio/ezza-phi.png")
				//- 		h2.name ezzarose.com
				//- 	.info
				//- 		p 
				//- 			| A site developed for Portland musician Ezza Rose.  Ezza conceptualized the design and I coded it with my friend and fellow bandmate 
				//- 			a(href="http://campcreekrecords.com") Joe Hall
				//- 			| .
				//- 		p P.S. I'm a fan.

			.row
				.item.col-md-4
					a(href="http://aedfineart.com", target="_blank").preview
						img(src="assets/img/portfolio/duckler-phi.png")
						h2.name aedfineart.com
					.info
						p A minimal site designed to showcase a private art dealer's collection
			
				.item.your-site.col-md-4
					a(href="#contact", target="_blank").preview
						img.dummy-img(src="assets/img/portfolio/blank-phi.png")
						h2.dark(style="position: absolute; bottom: 10px; right: 10px; font-size: 52px; font-weight: bold; margin: 0; text-shadow: 1px 1px black") 
							| YOUR 
							br
							| SITE?
					.info
						p 
							em 
								| This could be you!
						p
							em
								a(href="#contact") Contact me 
								| to discuss your website.



		section.skills
			a(name="skills")

			h2.center
				.diag-bg EXPERTISE

			.summary
				p.block
					| I made my first webpage in 8th grade, which featured a looping background MIDI 
					br
					| and a scrolling <code>&lt;marquee&gt;</code>.
					br
					| I went pro in 2009, and have been freelancing ever since.
					br
					| I've learned a lot throughout the years!
			
			.row
				.col-md-4.item
					h3.diag-line Frontend
					.info
						p.center I eat this stuff for breakfast.
						h4.block-tiny.no-bg Languages:
						.block-tiny HTML5
						.block-tiny CSS3
						.block-tiny Javascript
						.block-tiny SVG
						br
						h4.block-tiny.no-bg Templating:
						.block-tiny Jade
						.block-tiny Sass
						.block-tiny CoffeeScript
						br
						h4.block-tiny.no-bg Workflow:
						.block-tiny grunt
						.block-tiny bower
				.col-md-4.item
					h3.diag-line Backend
					.info
						p.center Different jobs call for different tools, so I regularly use a variety of stacks.
						h4.block-tiny.no-bg Main:
						.block-tiny Python
						.block-tiny Django
						.block-tiny Flask
						.block-tiny PostgreSQL
						.block-tiny nginx
						br
						h4.block-tiny.no-bg.bare LAMP: 
						.block-tiny PHP
						.block-tiny MySQL
						.block-tiny Apache
						.block-tiny Laravel
						.block-tiny Wordpress
						br
						h4.block-tiny.no-bg.bare Prototyping:
						.block-tiny Node.js
						.block-tiny Express.js
						br
						h4.block-tiny.no-bg.bare Power:
						.block-tiny Scala
						.block-tiny Play! 2
						.block-tiny Scalatra
				.col-md-4.item
					h3.diag-line Tools
					.info
						p I've built a lot of sites with specific needs and have used some amazing tools along the way.  I've worked on something professionally at some point with all of these.
						.block-tiny git
						.block-tiny jQuery
						.block-tiny d3
						.block-tiny underscore.js
						.block-tiny backbone.js
						.block-tiny Twitter Bootstrap
						.block-tiny Zurb Foundation


		section.contact
			a(name="contact")

			h2.center
				.diag-bg Contact Info

			.summary
				.block
					p Rather than fill out some stodgy contact form, why not just email me? 
					p
						a(href="mailto:michael@lv11.co").bg-yellow MICHAEL@LV11.CO
					p Hope to hear from you!  (Yes, that's <b>.co</b>, not <b>.com</b>!)

		section
			p.center P.S. &mdash; You can find more ways to connect with me on the <a href="/">main page &larr; </a>



