extends layout/base

block navbar
	//- empty
block content

	nav#stripes
		ul
			li.web
				a Michael builds webpages!
			li.code
				a Michael writes code!
			li.music
				a Michael makes music!
			li.projects
				a Michael has projects!

block footer
	//- empty