@import url(http://fonts.googleapis.com/css?family=Cherry+Swash:400,700)

@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700)

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic)

@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic)

$link-color: #42adad

html, body
  font-family: 'Lato', sans-serif
  font-size: 16px
  background: #efefef
  color: #666
  height: 100%

.container 
  min-width: 630px

a:link, a:visited, .link
  text-decoration: none
  color: $link-color
  &:hover
    text-decoration: none
    background-color: #d0d
    color: white

p
  margin: 0.5em auto
  line-height: 1.25em
  text-align: justify

i, em
  font-style: italic

b, strong
  font-weight: bold

h1, h2, h3, h4
  font-family: 'Inconsolata', serif
  text-transform: uppercase
  margin: 0.5em
  clear: both
  color: #111
  // letter-spacing: -0.11em;

h1
  font-size: 2.5em

h2
  font-size: 1.67em

h3
  font-size: 1.5em

h4
  font-size: 1.2em

.mw-200
  min-width: 200px

.bare
  line-height: 1.0em
  padding-top: 0 !important
  padding-bottom: 0 !important

.no-bg
  background: none !important

hr
  height: 1px
  background: #000
  border: 0
  border-bottom: 1px solid #ddd

span[title]
  // display: inline-block;
  border-bottom: 1px dashed black
  cursor: help

.diag-bg
  background: url(/assets/img/bg-diagonal-black-8-a25.png)
  padding: 10px
  display: inline-block
  text-align: center
  margin: inherit auto inherit
  font-weight: bold
  clear: both

.diag-line
  background: url(/assets/img/bg-dither-black-12_5p.png) bottom left repeat-x
  padding: 0 0 6px
  // text-shadow: 2px 2px white;
  // display: inline-block;
  text-align: center
  margin: 20px auto 0
  color: #222
  // font-weight: bold;
  clear: both

hr.diag
  background: url(/assets/img/bg-diagonal-black-8.png)
  height: 16px
  width: 256px
  border: 0
  margin: 15px auto
  clear: both

.inline
  display: inline-block

.small
  font-size: 0.9em
  
.smaller
  font-size: 0.75em

.big
  font-size: 1.1em

.bigger
  font-size: 1.25em

.left
  text-align: left
.center
  text-align: center
.right
  text-align: right

.underline
  text-decoration: underline

.bg-yellow
  background: #ffa

// .container {
// 	@include container;
// 	min-width: 800px;
// }

=dither($adj)
  background: url(/assets/img/bg-dither-#{$adj}.png)

.item, .summary
  &:hover
    color: #333

.dither-black
  background: #888888 url(/assets/img/bg-dither-dark.png)

.dither-dark
  +dither(dark)

.dither-gray
  +dither(gray)

.dither-light
  +dither(light)

.dither-white
  +dither(white)

#navbar
  font-family: 'Cherry Swash', sans-serif
  font-size: 20px
  ul
    list-style: none
    margin-bottom: 0
    li
      display: inline-block
      a, span
        display: inline-block
        padding: 5px 15px
        margin: 0
      a
        color: #222
      img
        vertical-align: middle
      &.dither
        background: #888888 url(/assets/img/bg-dither-dark.png)
        color: white
        a
          color: white
    &.right
      vertical-align: bottom
      float: right
      // font-size: 12px
      // a, span
      //   padding: 10px 8px
  clear: both
  +clearfix

#stripes
  min-height: 100%
  ul
    min-height: 100%
    li
      a
        display: block
        padding: 10px
        width: 100%
        height: 100%
        line-height: 100%
        font-size: 2em
        font-style: italic
      // &.code {
      // 	background: #1FBED6;
      // }
      // &.music {
      // 	background: #97C30A;
      // }
      // &.projects {
      // 	background: #FF717E;
      // }

.block
  text-align: center
  background: #fff
  border: 1px solid #e2e2e2
  // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2)
  padding: 30px
  margin: 15px
  display: inline-block
  a
    display: inline-block

.block-small
  @extend .block
  text-align: left
  padding: 10px
  margin: 8px
  display: block

.block-tiny
  @extend .block
  // text-align: left
  padding: 3px
  margin: 1px
  display: inline-block

.page-index
  text-align: center
  .block
    @extend .bigger


.page-web
  section, .section
    margin: 60px 0
    clear: both
    +clearfix
  .links
    text-align: center
    a
      @extend h4
      @extend .diag-line
      @extend .link
      color: $link-color
      display: inline-block
      padding: 10px
      margin: 0 45px
  .summary
    text-align: center
    margin: 0 auto
    max-width: 800px
    p
      text-align: center
      font-size: 1.1em
      line-height: 1.75em
  .skills
    .info
      text-align: left

  .portfolio
    .item
      // @extend .col-md-4;
      // &:nth-child(3n) {
      // 	@include omega;
      // }
      max-width: 400px
      margin: 20px auto 20px
      padding-bottom: 20px
      .preview
        display: block
        position: relative
        img, .dummy-img
          border-top: 3px double #333
          border-bottom: 3px solid #333
          width: 100%
          max-width: 100%
        .dummy-img
          +dither(gray)
          border: 0
          padding: 29px 0
        .name
          margin: 0
          color: black
          text-shadow: 1px 1px 0 white
          min-height: 2em
          padding: 0 10px
          +dither(gray)
          &.dark
            color: black
            text-shadow: 1px 1px 0 white
          &.light
            color: white
            text-shadow: 1px 1px 0 black
      &.your-site
        .info
          font-size: 1.1em
  .tools
    .item
      &:hover
        background: #ffc
        color: #222
    ul
      li
        p
          font-size: 0.8em
          text-align: left
        // @extend .col-md-6;
        // &:nth-child(6n) {
        // 	@include omega;
        // }

#post-header
  height: 16px
  background: url(/assets/img/bg-dither-black-12_5p.png)

#pre-footer
  height: 64px
  background: url(/assets/img/bg-hatch-black-8.png)
  background: url(/assets/img/bg-dither-black-12_5p.png)

#footer
  height: 64px
  // background: #444 url(/assets/img/bg-hatch-black-8.png);
  // background: #000 url(/assets/img/bg-dither-gray.png);
  background: #777777 url(/assets/img/bg-dither-black-12_5p-negative.png)
  // border-top: 1px solid #aaa;
